<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MPT</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span id="idusername"></span></a></li>
                    <li><a href="/app/login"><span>Logout</span></a></li>

                </ul>

            </div>
        </div>
    </div>
</nav>
