{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js "></script>
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css"/>
    <style>
        .mydiv {
            width: 50%;
            height: 400px;
        }
    </style>


</head>
<body>
{#background="{% static 'images/index.png' %}"#}

<div class="container" style="padding-top:200px;">
    <div class="row">
        <div class="col-md-2 mydiv container">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <label>User Name</label>
                    <input type="text" class="form-control" id="id_username" name="username">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>Password</label>
                    <input type="password" class="form-control" id="id_password" name="pasword">

                </div>
            </div>
            <div class="row">

                <div class="col-md-3 text-center">
                    <label>&nbsp</label>
                    <input type="button" value="Sign in" class="btn-primary btn form-control" onclick="login()">
                </div>
                <div class="col-md-2 text-center">
                    <label>&nbsp</label>
                    <p>or</p>
                </div>
                 <div class="col-md-3 text-center">
                    <label>&nbsp</label>
                    <input type="button" value="Register" class="btn-primary btn form-control" onclick="register()">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.4.0/marked.js"></script>

<script>
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return;
    }

</script>
<script type="text/javascript">
    $( document ).ready(function() {
    localStorage.clear();
});
    function login() {
        var username = $('#id_username').val();
        var password = $('#id_password').val();

        $.ajax({
            url: '/user/user_login/',
            type: 'POST',
            data: {"username": username, "password": password},
            success: function (data) {
                localStorage.setItem("token", data['token']);
                if (localStorage.getItem('token') !== null) {
                    window.location.href = "/"
                }
            },
            error: function (request, status, error) {
                console.log(request.responseText);
                alert(request.responseText);
                $('#id_username').val("");
                $('#password').val("");

            }

        });


    }
</script>
<script type="text/javascript">
    function register() {
        window.location.href = '/app/register'
    }
</script>
{% block script %}
{% endblock %}
</body>
</html>
